# Created by .ignore support plugin (hsz.mobi)
.idea/
application/config.php
application/database.php
public/upload/
application/grading/config.php
application/code/config.php
application/statistics/config.php
application/.DS_Store
.DS_Store
